@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body {
  font-family: "Afacad Flux", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #1d1e20;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  will-change: transform;
  transform: translateZ(0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #d4d4d4;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-right: 20px;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #d4d4d4;
  transition: color 0.3s ease;
}

.menu a:hover {
  text-decoration: underline;
  color: #67a2c9;
}

.content {
  margin-top: 50px;
  padding: 0 20px;
  flex-grow: 1;
}

h1 {
  font-size: 56px;
  margin-bottom: 30px;
  color: #a9a9a9;
}

.divider {
  border-top: 1px solid #333;
  margin: 30px 0;
}

p {
  margin-bottom: 20px;
}

a {
  color: #67a2c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  text-align: right;
  font-style: italic;
  color: #888;
  padding: 20px;
  flex-shrink: 0;
}

.social-icons a {
  color: #d4d4d4;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons svg {
  width: 28px;
  height: 28px;
}

.project-title {
  font-weight: bold;
  color: #67a2c9;
}

.project-description {
  color: #888;
}

.content.home {
  text-align: center;
  line-height: 1.2;
  margin-top: 25vh;
}

.content.home h1 {
  margin-bottom: 10px;
}

/* Add responsive design */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .header {
    flex-direction: column;
  }
  .menu ul {
    margin: 10px 0;
  }
  h1 {
    font-size: 42px;
  }
}
